In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df14 = pd.read_csv('../data/2014-2015.csv', encoding='euc-kr')

In [11]:
df15 = pd.read_csv('../data/2015-2016.csv', encoding='euc-kr')

In [12]:
df16 = pd.read_csv('../data/2016-2017.csv', encoding='euc-kr')

In [15]:
df17 = pd.read_csv('../data/2017-2018.csv', encoding='utf-8')

In [48]:
df18 = pd.read_csv('../data/2018-2019.csv', encoding='utf-8')

In [19]:
df14.head()

,팀,득점,실점,홈득점,홈실점,어웨이득점,어웨이 실점,16득점,16실점,16홈득점,...,8어웨이득점,8어웨이실점,4득점,4실점,4홈득점,4홈실점,4어웨이득점,4어웨이실점,결득점,결실점
0,RBLeipzig,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,RealMadrid,16,2,10,1,6,1,5,4,4,...,0,0,3,2,1,1,1,2,0,0
2,ParisSG,10,7,7,3,3,4,3,3,1,...,0,2,0,0,0,0,0,0,0,0
3,ManCity,9,8,5,5,4,3,1,3,1,...,0,0,0,0,0,0,0,0,0,0
4,Dortmund,14,4,7,2,7,2,1,5,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
df14_c=df14.iloc[:,0:7]

In [114]:
df15_c=df15.iloc[:,1:7]

In [115]:
df16_c=df16.iloc[:,1:7]

In [116]:
df17_c=df17.iloc[:,1:7]

In [117]:
df18_c=df18.iloc[:,1:7]

In [118]:
df_all=pd.concat([df14_c,df15_c,df16_c,df17_c],axis=1)

In [112]:
data_all = pd.merge([df14_c,df15_c,df16_c,df17_c], how='right', on='팀')

TypeError: merge() missing 1 required positional argument: 'right'

In [119]:
df_all

,팀,득점,실점,홈득점,홈실점,어웨이득점,어웨이 실점,득점,실점,홈득점,...,홈득점,홈실점,어웨이득점,어웨이 실점,득점,실점,홈득점,홈실점,어웨이득점,어웨이 실점
0,RBLeipzig,0,0,0,0,0,0,0,0,0,...,0,0,0,0,10,11,5,5,5,6
1,RealMadrid,16,2,10,1,6,1,16,10,9,...,9,4,7,6,17,7,7,3,10,4
2,ParisSG,10,7,7,3,3,4,13,7,6,...,6,3,7,4,25,4,15,1,10,3
3,ManCity,9,8,5,5,4,3,12,10,8,...,8,2,4,6,14,5,5,1,9,4
4,Dortmund,14,4,7,2,7,2,21,9,11,...,11,6,10,3,7,13,3,6,4,7
5,Tottenham,0,0,0,0,0,0,6,6,4,...,4,4,2,2,15,4,9,2,6,2
6,Atalanta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,4,4,3,1,1
7,Valencia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Chelsea,17,3,10,2,7,1,0,0,0,...,0,0,0,0,16,8,10,4,6,4
9,Bayern,16,4,6,0,8,4,14,6,10,...,10,1,4,5,13,6,9,1,4,5
10,Napoli,0,0,0,0,0,0,11,8,6,...,6,5,5,3,11,11,8,5,3,6
11,Barcelona,15,5,7,2,8,3,20,4,15,...,15,0,5,4,9,1,8,1,1,0
12,Lyon,0,0,0,0,0,0,5,3,3,...,3,1,2,2,0,0,0,0,0,0
13,Juventus,7,4,5,2,2,2,11,2,3,...,3,1,8,1,7,5,4,1,3,4
14,Atletico,14,3,10,0,4,3,7,2,5,...,5,1,2,1,5,4,4,3,1,1
15,Liverpool,5,9,3,5,2,4,0,0,0,...,0,0,0,0,23,6,12,2,11,4

In [96]:
Elo = pd.read_csv('../data/Elo_data_from2014_to2020.csv', encoding='utf-8')

In [107]:
df_all

,팀,득점,실점,홈득점,홈실점,어웨이득점,어웨이 실점,팀,득점,실점,...,홈실점,어웨이득점,어웨이 실점,팀,득점,실점,홈득점,홈실점,어웨이득점,어웨이 실점
0,RBLeipzig,0,0,0,0,0,0,RBLeipzig,0,0,...,0,0,0,RBLeipzig,10,11,5,5,5,6
1,RealMadrid,16,2,10,1,6,1,RealMadrid,16,10,...,4,7,6,RealMadrid,17,7,7,3,10,4
2,ParisSG,10,7,7,3,3,4,ParisSG,13,7,...,3,7,4,ParisSG,25,4,15,1,10,3
3,ManCity,9,8,5,5,4,3,ManCity,12,10,...,2,4,6,ManCity,14,5,5,1,9,4
4,Dortmund,14,4,7,2,7,2,Dortmund,21,9,...,6,10,3,Dortmund,7,13,3,6,4,7
5,Tottenham,0,0,0,0,0,0,Tottenham,6,6,...,4,2,2,Tottenham,15,4,9,2,6,2
6,Atalanta,0,0,0,0,0,0,Atalanta,0,0,...,0,0,0,Atalanta,5,4,4,3,1,1
7,Valencia,0,0,0,0,0,0,Valencia,0,0,...,0,0,0,Valencia,0,0,0,0,0,0
8,Chelsea,17,3,10,2,7,1,Chelsea,0,0,...,0,0,0,Chelsea,16,8,10,4,6,4
9,Bayern,16,4,6,0,8,4,Bayern,14,6,...,1,4,5,Bayern,13,6,9,1,4,5
10,Napoli,0,0,0,0,0,0,Napoli,11,8,...,5,5,3,Napoli,11,11,8,5,3,6
11,Barcelona,15,5,7,2,8,3,Barcelona,20,4,...,0,5,4,Barcelona,9,1,8,1,1,0
12,Lyon,0,0,0,0,0,0,Lyon,5,3,...,1,2,2,Lyon,0,0,0,0,0,0
13,Juventus,7,4,5,2,2,2,Juventus,11,2,...,1,8,1,Juventus,7,5,4,1,3,4
14,Atletico,14,3,10,0,4,3,Atletico,7,2,...,1,2,1,Atletico,5,4,4,3,1,1
15,Liverpool,5,9,3,5,2,4,Liverpool,0,0,...,0,0,0,Liverpool,23,6,12,2,11,4

In [98]:
Elo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
Unnamed: 0    16 non-null object
Elo_2014      16 non-null float64
Elo_2015      16 non-null float64
Elo_2016      16 non-null float64
Elo_2017      16 non-null float64
Elo_2018      16 non-null float64
Elo_2019      16 non-null float64
Elo_2020      16 non-null float64
dtypes: float64(7), object(1)
memory usage: 1.1+ KB

In [99]:
Elo.iloc[:,:1]

    Unnamed: 0
0    Barcelona
1    RBLeipzig
2   RealMadrid
3      ParisSG
4      ManCity
5     Dortmund
6    Tottenham
7     Atalanta
8     Valencia
9      Chelsea
10      Bayern
11      Napoli
12        Lyon
13    Juventus
14    Atletico
15   Liverpool

In [105]:
Elo.rename(columns = {'Unnamed: 0' : '팀'}, inplace = True)

In [106]:
Elo

,팀,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019,Elo_2020
0,Barcelona,2023.496398,2057.412832,2053.108070,2019.941732,2029.962260,2002.559819,1968.160767
1,RBLeipzig,1439.176985,1476.252716,1605.082893,1708.091552,1708.708776,1777.771823,1814.504968
2,RealMadrid,2056.538702,2054.278139,2048.936085,2047.364041,1995.996024,1874.416662,1902.399182
3,ParisSG,1859.954469,1864.813026,1888.411422,1890.448508,1899.095539,1861.699558,1878.772717
4,ManCity,1937.135403,1886.149532,1858.716655,1888.852156,1978.532102,2009.882528,1989.357354
5,Dortmund,1876.071767,1808.659152,1863.716256,1840.034553,1778.247457,1820.196781,1819.949393
6,Tottenham,1790.059165,1746.540066,1813.415023,1876.204994,1913.637174,1879.218735,1821.436117
7,Atalanta,1580.576180,1589.807175,1597.361708,1700.091459,1725.817114,1730.123493,1772.467079
8,Valencia,1798.025672,1860.451742,1741.813760,1721.514619,1783.997835,1803.609719,1808.782288
9,Chelsea,1930.234937,1858.527720,1812.347578,1901.173692,1860.556193,1859.853144,1840.971422
10,Bayern,2060.823209,2011.242453,2008.224783,1978.954827,1953.571001,1938.433185,1940.595139
11,Napoli,1768.893182,1777.679260,1809.218866,1857.331177,1863.916973,1813.527848,1747.823299
12,Lyon,1688.789094,1723.389070,1690.295553,1727.135841,1748.240307,1715.984295,1689.136166
13,Juventus,1890.405501,1906.372847,1921.533162,1944.510877,1973.160709,1910.337369,1901.424231
14,Atletico,1952.400643,1948.936560,1979.687638,1940.533995,1930.054922,1886.226539,1846.231223
15,Liverpool,1857.413953,1765.388667,1793.565678,1838.662346,1921.199074,2008.999638,2079.801318

In [120]:
data_result = pd.merge(df_all, Elo, on='팀')

In [70]:
df_all

,팀,득점,실점,홈득점,홈실점,어웨이득점,득점,실점,홈득점,홈실점,...,득점,실점,홈득점,홈실점,어웨이득점,득점,실점,홈득점,홈실점,어웨이득점
1,RealMadrid,16,2,10,1,6,16,10,9,4,...,16,10,9,4,7,17,7,7,3,10
2,ParisSG,10,7,7,3,3,13,7,6,3,...,13,7,6,3,7,25,4,15,1,10
3,ManCity,9,8,5,5,4,12,10,8,2,...,12,10,8,2,4,14,5,5,1,9
4,Dortmund,14,4,7,2,7,21,9,11,6,...,21,9,11,6,10,7,13,3,6,4
5,Tottenham,0,0,0,0,0,6,6,4,4,...,6,6,4,4,2,15,4,9,2,6
6,Atalanta,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,4,4,3,1
7,Valencia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Chelsea,17,3,10,2,7,0,0,0,0,...,0,0,0,0,0,16,8,10,4,6
9,Bayern,16,4,6,0,8,14,6,10,1,...,14,6,10,1,4,13,6,9,1,4
10,Napoli,0,0,0,0,0,11,8,6,5,...,11,8,6,5,5,11,11,8,5,3
11,Barcelona,15,5,7,2,8,20,4,15,0,...,20,4,15,0,5,9,1,8,1,1
12,Lyon,0,0,0,0,0,5,3,3,1,...,5,3,3,1,2,0,0,0,0,0
13,Juventus,7,4,5,2,2,11,2,3,1,...,11,2,3,1,8,7,5,4,1,3
14,Atletico,14,3,10,0,4,7,2,5,1,...,7,2,5,1,2,5,4,4,3,1
15,Liverpool,5,9,3,5,2,0,0,0,0,...,0,0,0,0,0,23,6,12,2,11

In [74]:
Elo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
팀           16 non-null object
Elo_2014    16 non-null float64
Elo_2015    16 non-null float64
Elo_2016    16 non-null float64
Elo_2017    16 non-null float64
Elo_2018    16 non-null float64
Elo_2019    16 non-null float64
dtypes: float64(6), object(1)
memory usage: 1.0+ KB

In [121]:
data_result

,팀,득점,실점,홈득점,홈실점,어웨이득점,어웨이 실점,득점,실점,홈득점,...,홈실점,어웨이득점,어웨이 실점,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019,Elo_2020
0,RBLeipzig,0,0,0,0,0,0,0,0,0,...,5,5,6,1439.176985,1476.252716,1605.082893,1708.091552,1708.708776,1777.771823,1814.504968
1,RealMadrid,16,2,10,1,6,1,16,10,9,...,3,10,4,2056.538702,2054.278139,2048.936085,2047.364041,1995.996024,1874.416662,1902.399182
2,ParisSG,10,7,7,3,3,4,13,7,6,...,1,10,3,1859.954469,1864.813026,1888.411422,1890.448508,1899.095539,1861.699558,1878.772717
3,ManCity,9,8,5,5,4,3,12,10,8,...,1,9,4,1937.135403,1886.149532,1858.716655,1888.852156,1978.532102,2009.882528,1989.357354
4,Dortmund,14,4,7,2,7,2,21,9,11,...,6,4,7,1876.071767,1808.659152,1863.716256,1840.034553,1778.247457,1820.196781,1819.949393
5,Tottenham,0,0,0,0,0,0,6,6,4,...,2,6,2,1790.059165,1746.540066,1813.415023,1876.204994,1913.637174,1879.218735,1821.436117
6,Atalanta,0,0,0,0,0,0,0,0,0,...,3,1,1,1580.576180,1589.807175,1597.361708,1700.091459,1725.817114,1730.123493,1772.467079
7,Valencia,0,0,0,0,0,0,0,0,0,...,0,0,0,1798.025672,1860.451742,1741.813760,1721.514619,1783.997835,1803.609719,1808.782288
8,Chelsea,17,3,10,2,7,1,0,0,0,...,4,6,4,1930.234937,1858.527720,1812.347578,1901.173692,1860.556193,1859.853144,1840.971422
9,Bayern,16,4,6,0,8,4,14,6,10,...,1,4,5,2060.823209,2011.242453,2008.224783,1978.954827,1953.571001,1938.433185,1940.595139
10,Napoli,0,0,0,0,0,0,11,8,6,...,5,3,6,1768.893182,1777.679260,1809.218866,1857.331177,1863.916973,1813.527848,1747.823299
11,Barcelona,15,5,7,2,8,3,20,4,15,...,1,1,0,2023.496398,2057.412832,2053.108070,2019.941732,2029.962260,2002.559819,1968.160767
12,Lyon,0,0,0,0,0,0,5,3,3,...,0,0,0,1688.789094,1723.389070,1690.295553,1727.135841,1748.240307,1715.984295,1689.136166
13,Atletico,14,3,10,0,4,3,7,2,5,...,3,1,1,1952.400643,1948.936560,1979.687638,1940.533995,1930.054922,1886.226539,1846.231223
14,Liverpool,5,9,3,5,2,4,0,0,0,...,2,11,4,1857.413953,1765.388667,1793.565678,1838.662346,1921.199074,2008.999638,2079.801318