In [1]:
import pandas as pd

In [12]:
Elo=pd.read_csv('../data/Elo_data_from2014_to2019_real.csv', encoding='euc-kr')

In [13]:
all_data=pd.read_csv('../data/merge_data_test2.csv', encoding='euc-kr')

In [14]:
Elo.head()

,team,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019,Elo_2020
0,Barcelona,2023.496398,2057.412832,2053.108070,2019.941732,2029.962260,2002.559819,1968.160767
1,RBLeipzig,1439.176985,1476.252716,1605.082893,1708.091552,1708.708776,1777.771823,1814.504968
2,RealMadrid,2056.538702,2054.278139,2048.936085,2047.364041,1995.996024,1874.416662,1902.399182
3,ParisSG,1859.954469,1864.813026,1888.411422,1890.448508,1899.095539,1861.699558,1878.772717
4,ManCity,1937.135403,1886.149532,1858.716655,1888.852156,1978.532102,2009.882528,1989.357354

In [15]:
all_data.head()

,team,2014_득점,2014_실점,2014_홈득점,2014_홈실점,2014_어웨이득점,2014_어웨이 실점,2014_16득점,2014_16실점,2014_16홈득점,...,2018_8어웨이득점,2018_8어웨이실점,2018_4득점,2018_4실점,2018_4홈득점,2018_4홈실점,2018_4어웨이득점,2018_4어웨이실점,2018_결득점,2018_결실점
0,RBLeipzig,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,RealMadrid,16,2,10,1,6,1,5,4,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ParisSG,10,7,7,3,3,4,3,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ManCity,9,8,5,5,4,3,1,3,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Dortmund,14,4,7,2,7,2,1,5,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
save=pd.merge(Elo, all_data, on='team')

In [19]:
save.to_csv( '../data/Elo_all_14to18.csv', sep=',', encoding='euc-kr' )

In [20]:
save

,team,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019,Elo_2020,2014_득점,2014_실점,...,2018_8어웨이득점,2018_8어웨이실점,2018_4득점,2018_4실점,2018_4홈득점,2018_4홈실점,2018_4어웨이득점,2018_4어웨이실점,2018_결득점,2018_결실점
0,Barcelona,2023.496398,2057.412832,2053.108070,2019.941732,2029.962260,2002.559819,1968.160767,15,5,...,1.0,0.0,3.0,4.0,3.0,0.0,0.0,4.0,0.0,0.0
1,RBLeipzig,1439.176985,1476.252716,1605.082893,1708.091552,1708.708776,1777.771823,1814.504968,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,RealMadrid,2056.538702,2054.278139,2048.936085,2047.364041,1995.996024,1874.416662,1902.399182,16,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ParisSG,1859.954469,1864.813026,1888.411422,1890.448508,1899.095539,1861.699558,1878.772717,10,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ManCity,1937.135403,1886.149532,1858.716655,1888.852156,1978.532102,2009.882528,1989.357354,9,8,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Dortmund,1876.071767,1808.659152,1863.716256,1840.034553,1778.247457,1820.196781,1819.949393,14,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Tottenham,1790.059165,1746.540066,1813.415023,1876.204994,1913.637174,1879.218735,1821.436117,0,0,...,3.0,4.0,3.0,3.0,0.0,1.0,3.0,2.0,0.0,2.0
7,Atalanta,1580.576180,1589.807175,1597.361708,1700.091459,1725.817114,1730.123493,1772.467079,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Valencia,1798.025672,1860.451742,1741.813760,1721.514619,1783.997835,1803.609719,1808.782288,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Chelsea,1930.234937,1858.527720,1812.347578,1901.173692,1860.556193,1859.853144,1840.971422,17,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Bayern,2060.823209,2011.242453,2008.224783,1978.954827,1953.571001,1938.433185,1940.595139,16,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Napoli,1768.893182,1777.679260,1809.218866,1857.331177,1863.916973,1813.527848,1747.823299,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Lyon,1688.789094,1723.389070,1690.295553,1727.135841,1748.240307,1715.984295,1689.136166,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Atletico,1952.400643,1948.936560,1979.687638,1940.533995,1930.054922,1886.226539,1846.231223,14,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Liverpool,1857.413953,1765.388667,1793.565678,1838.662346,1921.199074,2008.999638,2079.801318,5,9,...,4.0,1.0,4.0,3.0,4.0,0.0,0.0,3.0,2.0,0.0